<footer class="flex flex-col flex-wrap items-center justify-center px-3 mx-auto main-footer _container">
  <div class="flex flex-wrap justify-center gap-4 font-bold footer-links">
    <a title="Home" href="/">home</a>
    <a title="Posts" href="/posts">posts</a>
    <a title="About" href="/about">about</a>
    <a
      rel="noreferrer nofollow"
      target="_blank"
      title="Source Code"
      href="https://github.com/donnisnoni/donnisnoni.github.io"
    >
      source
    </a>
    <a title="RSS" target="_blank" href="/index.xml">rss</a>
    <a title="Resume" target="_blank" href="/resume">resume</a>
  </div>
  <!-- <span class="ml-auto text-sm">Copyright © 2021 DonNisnoni</span> -->
  <div class="py-6">
    <a href="/" aria-label="Don Alfons Nisnoni">
      {{ readFile "static/icons/don_xdev_footer.svg" | safeHTML }}
    </a>
  </div>
  <div class="pb-4 text-xs">&copy; {{ now.Year }} <a href="/">{{ .Site.Title }}</a></div>
</footer>
