<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <link rel="icon" href="/icons/favicon-96x96.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png" />
  <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
  <link rel="manifest" href="/manifest.webmanifest" />
  <meta name="msapplication-TileColor" content="#d0d3d4" />
  <meta name="theme-color" content="#feffff" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <link rel="alternate" type="application/rss+xml" title="Don Nisnoni's Blog RSS Feed" href="/index.xml" />
  <title>{{ .Title }} • {{ .Site.Title }}</title>

  <!-- GET PAGE DESCRIPTION -->
  {{ $description := "" }}
  {{ if or .Params.description .Summary }}
      {{ if isset .Params "description" }}
        {{ $description = .Description }}
      {{ else }}
        {{ $description = .Summary }}
      {{ end }}
  {{ end }}

  <!-- GET PAGE AUTHOR -->
  {{ $author := "" }}
  {{ if or .Params.author .Site.Author }}
      {{ if isset .Params "author" }}
        {{ $author = .Params.Author }}
      {{ else }}
        {{ $author = .Site.Author }}
      {{ end }}
  {{ end }}


  <!-- TWITTER CARD META'S -->
  <meta name="twitter:card" content="summary" />
  {{ if .Site.Params.twitter_username }}
    <meta name="twitter:author" content="@{{ .Site.Params.twitter_username }}" />
  {{ end }}
  <meta property="twitter:title" content="{{ .Title }} • {{ .Site.Title }}" />
  {{ if or .Params.description .Summary }}
    <meta name="twitter:description" content="{{ $description }}"/>
  {{ end }}


  <!-- OPENGRAPH META'S -->
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ .Permalink }}" />
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}" />
  {{ if isset .Params "thumbnail" }}
    {{ $image := .Resources.Get .Params.thumbnail }}
    <meta property="og:image" content="{{ $image.Permalink }}" />
  {{ end }}
  {{ if or .Params.description .Summary }}
    <meta property="og:description" content="{{ $description }}"/>
  {{ end }}


  <!-- META DESCRIPTION -->
  {{ if or .Params.description .Summary }}
    <meta name="description" content="{{ $description }}"/>
  {{ end }}


  <!-- META AUTHOR -->
  {{ if or .Params.author .Site.Author }}
    <meta name="author" content="{{ $author }}"/>
  {{ end }}

  {{ $styles := resources.Get "css/main.css" }}
  <!-- $styles = $styles | resources.PostCSS  -->
  {{ if hugo.IsProduction }}
    {{ $styles = $styles | minify }}
  {{ end }}


  <link href="{{ $styles.Permalink }}" rel="stylesheet" />
  <!-- CANNONICAL -->
  <link rel="canonical" href="{{ .Permalink }}" />
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" /> -->
  <!-- <link
    rel="preload"
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript
    ><link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap"
  /></noscript> -->
</head>
