{{ define "main" }}
  <article class="flex flex-col mt-4 mb-10">
    <img
      class="self-center rounded-full my-avatar"
      width="200"
      height="200"
      loading="lazy"
      src="https://avatars.githubusercontent.com/u/16399020?s=200&u=8eb8a5d850a476e09cc6a6085b32a9f44432779b&v=4"
      alt="Don Alfons Nisnoni"
    />
    <div class="flex items-center justify-center gap-3 my-7 socmed-links-wrapper">
      <a
        href="https://github.com/donnisnoni"
        aria-label="GitHub"
        title="GitHub"
        target="_blank"
        rel="noreferrer nofollow"
      >
        {{ readFile "static/icons/github.svg" | safeHTML }}
      </a>
      <a href="mailto:donalfonsnnisnoni@gmail.com" aria-label="Email" title="Email">
        {{ readFile "static/icons/email.svg" | safeHTML }}
      </a>
      <a
        href="https://twitter.com/AlfonsDon"
        aria-label="Twitter"
        title="Twitter"
        target="_blank"
        rel="noreferrer nofollow"
      >
        {{ readFile "static/icons/twitter.svg" | safeHTML }}
      </a>
      <a
        href="https://codepen.io/donalfonsnisnoni"
        aria-label="CodePen"
        title="CodePen"
        target="_blank"
        rel="noreferrer nofollow"
      >
        {{ readFile "static/icons/codepen.svg" | safeHTML }}
      </a>
      <a
        href="https://www.linkedin.com/in/donnisnoni"
        aria-label="LinkedIn"
        title="LinkedIn"
        target="_blank"
        rel="noreferrer nofollow"
      >
        {{ readFile "static/icons/linkedin.svg" | safeHTML }}
      </a>
    </div>
    <div class="markdown-body">
      <p>
        <em>Don</em> is a passionate, motivated, and creative web developer with work experience since 2020. He learning
        web development since 2015 and mostly focused on front-end web development but has the flexibility and
        experience to work on back-end web development as well. He experience with web technologies and tools such as
        NodeJS, MySQL, PHP, Laravel, ReactJS, and VueJS.
      </p>

      <p>👉 <a href="/about" class="">more about Don</a></p>
    </div>
  </article>

  <!-- <h2 class="page-main-title">Recent Posts</h2> -->

  <!-- {{ with .Site.GetPage "section" "/posts" }}
    {{ range first 5 .Pages }}
      {{ partial "post-list.html" . }}
    {{ end }}
    <div class="flex">
      <a class="ml-auto" href="./posts" rel="prefetch" title="All Posts">All Posts »</a>
    </div>
  {{ end }} -->
{{ end }}
